{
  "name": "capstone",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [
      "library/scss/layout",
      "library/scss/abstracts",
      "library",
      "library/css",
      "library/scss"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "library/scss/style.scss",
      "imports": [
        "library/scss/vendors/_normalize.scss",
        "library/scss/vendors/bootstrap-fileinput/_fileinput.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/_bootstrap.scss",
        "library/scss/vendors/bootstrap-select/_variables.scss",
        "library/scss/vendors/bootstrap-select/_bootstrap-select.scss",
        "library/scss/vendors/bourbon/_bourbon.scss",
        "library/scss/vendors/neat/_neat.scss",
        "library/scss/abstracts/_variables.scss",
        "library/scss/abstracts/_functions.scss",
        "library/scss/abstracts/_mixins.scss",
        "library/scss/abstracts/_placeholders.scss",
        "library/scss/base/_typography.scss",
        "library/scss/base/_animations.scss",
        "library/scss/base/_base.scss",
        "library/scss/base/_reset.scss",
        "library/scss/layout/_site-header.scss",
        "library/scss/layout/_page.scss",
        "library/scss/layout/_mobile.scss",
        "library/scss/layout/_main.scss",
        "library/scss/layout/_homepage.scss",
        "library/scss/layout/_user_info.scss",
        "library/scss/layout/_dashboard.scss",
        "library/scss/components/_buttons.scss",
        "library/scss/components/_pagination.scss",
        "library/scss/components/_links.scss",
        "library/scss/components/_panels.scss",
        "library/scss/components/_modals.scss",
        "library/scss/components/_mobile-toggle.scss",
        "library/scss/components/_navigation.scss",
        "library/scss/_shame.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_normalize.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_print.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_glyphicons.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_scaffolding.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_type.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_code.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_grid.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_tables.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_forms.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_buttons.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_component-animations.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_dropdowns.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_button-groups.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_input-groups.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_navs.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_navbar.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_breadcrumbs.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_pagination.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_pager.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_labels.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_badges.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_jumbotron.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_thumbnails.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_alerts.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_progress-bars.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_media.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_list-group.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_panels.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_responsive-embed.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_wells.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_close.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_modals.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_tooltip.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_popovers.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_carousel.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_utilities.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/_responsive-utilities.scss",
        "library/scss/vendors/bourbon/settings/_prefixer.scss",
        "library/scss/vendors/bourbon/settings/_px-to-em.scss",
        "library/scss/vendors/bourbon/settings/_asset-pipeline.scss",
        "library/scss/vendors/bourbon/functions/_assign-inputs.scss",
        "library/scss/vendors/bourbon/functions/_contains.scss",
        "library/scss/vendors/bourbon/functions/_contains-falsy.scss",
        "library/scss/vendors/bourbon/functions/_is-length.scss",
        "library/scss/vendors/bourbon/functions/_is-light.scss",
        "library/scss/vendors/bourbon/functions/_is-number.scss",
        "library/scss/vendors/bourbon/functions/_is-size.scss",
        "library/scss/vendors/bourbon/functions/_px-to-em.scss",
        "library/scss/vendors/bourbon/functions/_px-to-rem.scss",
        "library/scss/vendors/bourbon/functions/_shade.scss",
        "library/scss/vendors/bourbon/functions/_strip-units.scss",
        "library/scss/vendors/bourbon/functions/_tint.scss",
        "library/scss/vendors/bourbon/functions/_transition-property-name.scss",
        "library/scss/vendors/bourbon/functions/_unpack.scss",
        "library/scss/vendors/bourbon/functions/_modular-scale.scss",
        "library/scss/vendors/bourbon/helpers/_convert-units.scss",
        "library/scss/vendors/bourbon/helpers/_directional-values.scss",
        "library/scss/vendors/bourbon/helpers/_font-source-declaration.scss",
        "library/scss/vendors/bourbon/helpers/_gradient-positions-parser.scss",
        "library/scss/vendors/bourbon/helpers/_linear-angle-parser.scss",
        "library/scss/vendors/bourbon/helpers/_linear-gradient-parser.scss",
        "library/scss/vendors/bourbon/helpers/_linear-positions-parser.scss",
        "library/scss/vendors/bourbon/helpers/_linear-side-corner-parser.scss",
        "library/scss/vendors/bourbon/helpers/_radial-arg-parser.scss",
        "library/scss/vendors/bourbon/helpers/_radial-positions-parser.scss",
        "library/scss/vendors/bourbon/helpers/_radial-gradient-parser.scss",
        "library/scss/vendors/bourbon/helpers/_render-gradients.scss",
        "library/scss/vendors/bourbon/helpers/_shape-size-stripper.scss",
        "library/scss/vendors/bourbon/helpers/_str-to-num.scss",
        "library/scss/vendors/bourbon/css3/_animation.scss",
        "library/scss/vendors/bourbon/css3/_appearance.scss",
        "library/scss/vendors/bourbon/css3/_backface-visibility.scss",
        "library/scss/vendors/bourbon/css3/_background.scss",
        "library/scss/vendors/bourbon/css3/_background-image.scss",
        "library/scss/vendors/bourbon/css3/_border-image.scss",
        "library/scss/vendors/bourbon/css3/_calc.scss",
        "library/scss/vendors/bourbon/css3/_columns.scss",
        "library/scss/vendors/bourbon/css3/_filter.scss",
        "library/scss/vendors/bourbon/css3/_flex-box.scss",
        "library/scss/vendors/bourbon/css3/_font-face.scss",
        "library/scss/vendors/bourbon/css3/_font-feature-settings.scss",
        "library/scss/vendors/bourbon/css3/_hidpi-media-query.scss",
        "library/scss/vendors/bourbon/css3/_hyphens.scss",
        "library/scss/vendors/bourbon/css3/_image-rendering.scss",
        "library/scss/vendors/bourbon/css3/_keyframes.scss",
        "library/scss/vendors/bourbon/css3/_linear-gradient.scss",
        "library/scss/vendors/bourbon/css3/_perspective.scss",
        "library/scss/vendors/bourbon/css3/_placeholder.scss",
        "library/scss/vendors/bourbon/css3/_radial-gradient.scss",
        "library/scss/vendors/bourbon/css3/_selection.scss",
        "library/scss/vendors/bourbon/css3/_text-decoration.scss",
        "library/scss/vendors/bourbon/css3/_transform.scss",
        "library/scss/vendors/bourbon/css3/_transition.scss",
        "library/scss/vendors/bourbon/css3/_user-select.scss",
        "library/scss/vendors/bourbon/addons/_border-color.scss",
        "library/scss/vendors/bourbon/addons/_border-radius.scss",
        "library/scss/vendors/bourbon/addons/_border-style.scss",
        "library/scss/vendors/bourbon/addons/_border-width.scss",
        "library/scss/vendors/bourbon/addons/_buttons.scss",
        "library/scss/vendors/bourbon/addons/_clearfix.scss",
        "library/scss/vendors/bourbon/addons/_ellipsis.scss",
        "library/scss/vendors/bourbon/addons/_font-stacks.scss",
        "library/scss/vendors/bourbon/addons/_hide-text.scss",
        "library/scss/vendors/bourbon/addons/_margin.scss",
        "library/scss/vendors/bourbon/addons/_padding.scss",
        "library/scss/vendors/bourbon/addons/_position.scss",
        "library/scss/vendors/bourbon/addons/_prefixer.scss",
        "library/scss/vendors/bourbon/addons/_retina-image.scss",
        "library/scss/vendors/bourbon/addons/_size.scss",
        "library/scss/vendors/bourbon/addons/_text-inputs.scss",
        "library/scss/vendors/bourbon/addons/_timing-functions.scss",
        "library/scss/vendors/bourbon/addons/_triangle.scss",
        "library/scss/vendors/bourbon/addons/_word-wrap.scss",
        "library/scss/vendors/bourbon/_bourbon-deprecated-upcoming.scss",
        "library/scss/vendors/neat/_neat-helpers.scss",
        "library/scss/vendors/neat/grid/_private.scss",
        "library/scss/vendors/neat/grid/_box-sizing.scss",
        "library/scss/vendors/neat/grid/_omega.scss",
        "library/scss/vendors/neat/grid/_outer-container.scss",
        "library/scss/vendors/neat/grid/_span-columns.scss",
        "library/scss/vendors/neat/grid/_row.scss",
        "library/scss/vendors/neat/grid/_shift.scss",
        "library/scss/vendors/neat/grid/_pad.scss",
        "library/scss/vendors/neat/grid/_fill-parent.scss",
        "library/scss/vendors/neat/grid/_media.scss",
        "library/scss/vendors/neat/grid/_to-deprecate.scss",
        "library/scss/vendors/neat/grid/_visual-grid.scss",
        "library/scss/vendors/neat/grid/_display-context.scss",
        "library/scss/vendors/neat/grid/_direction-context.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_hide-text.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_opacity.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_image.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_labels.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_reset-filter.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_resize.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_responsive-visibility.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_size.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_tab-focus.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_reset-text.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_text-emphasis.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_text-overflow.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_vendor-prefixes.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_alerts.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_buttons.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_panels.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_pagination.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_list-group.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_nav-divider.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_forms.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_progress-bar.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_table-row.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_background-variant.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_border-radius.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_gradients.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_center-block.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_nav-vertical-align.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid-framework.scss",
        "library/scss/vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid.scss",
        "library/scss/vendors/neat/mixins/_clearfix.scss",
        "library/scss/vendors/neat/functions/_private.scss",
        "library/scss/vendors/neat/functions/_new-breakpoint.scss",
        "library/scss/vendors/neat/settings/_grid.scss",
        "library/scss/vendors/neat/settings/_visual-grid.scss",
        "library/scss/vendors/neat/settings/_disable-warnings.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "settings"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes",
    "/images",
    "/includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"relative\":\"../css/\"},\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": true,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}