.mobile {
	@include size(300px 100%);
	position: fixed;
	top: 0;
	right: 0;
	background-color: #f5f5f5; //#fdcc4c
	color:black;
	padding-top: 65px;
	@include transform(translateX(300px));
	@include transition(transform 0.4s ease-in-out);

	&__sidebar{
		margin-top:55px;
	}

	&__list{
		padding: 10px 20px 10px;
		list-style: none;
		border-bottom: 1px solid #dddddd;
		color: white;
	}

	&__item{
		color: black;
	}
	&__link{
		color:black;

	}

	&--toggled {
		@include transform(translateX(0));
	}
}
