

body
{
    font-family: 'Open Sans', sans-serif;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/


.mdal{
  margin-top: 100px;
}

    .mdl__friend{
        img{
          @include size(100% auto);
        }
    }


.edituser{
  margin-top: 50px;
  color: white;


        &__header{
          padding: 10px;
          background-color: $gray;
          border-radius:10px 10px 0px 0px ;

        } 

  &__form{
      padding: 40px;
      background-color: white;
      border-radius: 0px 0px 10px 10px;

      h1{
        font-weight: 700;
      }

      img{
        @include size(100% auto);
      }

      label{
        margin-top: 10px;
        float:left
      }

      input{
        margin-top: 10px;
      }

      .btn{
          margin-top: 40px;
      }
  }
}
.marg{
  padding: 0px;
  margin: 0px;
  text-align: left;
      
       @include bp(beta) {
          margin: 0px;

        }
        @include bp(gamma) {
          margin: 0px;

        }
        @include bp(delta) {
          margin: 0px;

        }   

}
.footer{
  background-color: #A9A9A9;
  

    &__logo{
      img{
        @include size(100% auto);
        padding: 20px;
      }
    }

    &__content{
      margin-top: 10px;
        a{
        color: white;
        }
    }

}