.section #sidebar-wrapper {
  top: 52px;
  left: -200px;
  width: 200px;
  background-color: #5677fc;
  color: white;
  position: fixed;
  height: 100%;
  z-index: 1; }

.section .sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 250px;
  list-style: none; }

.section .sidebar-nav li {
  text-indent: 20px;
  line-height: 50px; }

.section .sidebar-nav li a {
  color: white;
  display: block;
  text-decoration: none; }

.section .sidebar-nav li a:hover {
  background: rgba(255, 255, 255, 0.25);
  color: white;
  text-decoration: none; }

.section .sidebar-nav li a:active, .section .sidebar-nav li a:focus {
  text-decoration: none; }

.section #sidebar-wrapper.sidebar-toggle {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-left: -200px; }

@media (min-width: 768px) {
  .section #sidebar-wrapper.sidebar-toggle {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    left: 200px; } }
